name: Windows Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install cargo-audit
      run: cargo install cargo-audit
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test -- --test-threads=1
    #- name: Clippy
    #  run: cargo clippy --verbose -- -D warnings
    - name: Run tests TRUE_COLOR
      run: cargo test --features TRUE_COLORS -- --test-threads=1 
    - name: Audit
      run: cargo audit